/*html{
    color: #ffffff;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,204,1) 51%, rgba(170,43,141,1) 100%);
}

#cargar{
    background: #000000;
    border: 0;
}*/